<h3><%= title %></h3>
<p><img src="/images/foto.jpg" width="80px" height="100px" alt="David Santana Escoto" align="center"></p>
<h4>David Santana Escoto</h4>
<p>Analista</p>
<p>Correo: dsantanae@yahoo.com.mx</p>
